$borderRadius:10px;
$borderBox:3px solid black;
$borderBoxShadow:10px 10px  10px 0px black;
$MarginBottom:10px;

.header{
    height: auto;
    display: flex;
     flex-direction: column;
     justify-content: space-between;
    .navigation_header{
      margin-top:10px;
      height: 100px;
      display: flex;
      align-items: center;
      box-shadow:var(--borderBoxShadow);
      padding: 5px;
      background-color:rgb(108, 242, 247);
      border:var(--borderBox);
      border-radius:$borderRadius;
      margin-bottom:$MarginBottom;
      opacity: var(--opacityBeforeHover);
      justify-content: space-around;
      
      a{
         text-emphasis: none;
         color: black;
         text-decoration-line: none;
         font-size: 18px;
         font-weight:800;
         border: 2px solid black;
         padding: 3px;
         border-radius: 3px;
         box-shadow: 3px 3px 1px 1px grey;
         background-color: white;
         
      }
      .home-home,.shop-shop,.sign-sign-in{
         background-color: rgb(38, 21, 226);
         box-shadow: 0 0;
      }
      a:hover{
         cursor: pointer;
         
      }
      a:active{
         cursor:progress;
         transform: scale(0.9);
         transition: box-shadow 0.5s ease-in-out;
         transition: transform 0.2s ease-in-out;
         box-shadow: 0 0 0 0 ;
         
      }
    }&:hover{
      
      .navigation_header{
         opacity: var(--opacityAfterHover);
         
         
         
         
      }
    }
     h1{
      text-align: center;
        
        font-size: 40px;
        font-weight: bold;
        
        box-shadow:var(--borderBoxShadow);
        // background-color:rgb(238, 224, 187);
        border:var(--borderBox);
        border-radius:$borderRadius;
        background-color: rgba(245, 245, 28,0.7);
        

     }
     &:hover{
        h1:hover{transform: scale(1.2) ;
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);}
        
     }
   
    // background-image: url("https://i.pinimg.com/564x/ba/d3/bb/bad3bb0cab64c0dfe58ea5cbf64dc989.jpg");
    // background-image: url("https://i.pinimg.com/564x/8c/16/79/8c1679ebc12de9001924b488f9cd8710.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}