:root{
--borderRadius:10px;
--borderBox:3px solid black;
--borderBoxShadow:10px 10px  10px 0px black;
--borderBoxShadow_inside:3px 3px  6px 4px rgb(18, 19, 18);
--MarginBottom:10px;
--transform:scale(1.1);
--transformH2:scale(1.2);  
--transformTransition:transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
--opacityBeforeHover:0.7;
--opacityAfterHover:0.9;
        
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
